<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/profile.css">
</head>
<body>
  <div class="container social__logo">
    <img src="../public/assets/VK_Logo.png" alt="Logo">
  </div>
  <div class="container">
    <div class="left-side">
      <%- include("partials/navbar.ejs") %>
    </div>
    <div class="right-side">
      
      <div class="info">
        <div class="info__image">
          <% if(userData.Image_code) {%>
            <img src="../uploads/images/<%- userData.Image_code %>"  width="150" height="150" alt="avatar">
          <%} else {%>
            <img src="../public/assets/user_avatar.png" width="150" height="150"  alt="avatar">
          <% }%>
          <% if(isOwnerPage) {%>
            <a class="info__editBtn" href="/profile/edit" id="editProfileBtn">Edit profile</a>
          <% } %>
        </div>
        <div class="info__main">
          <h1 class="full__name"><%- userData.First_Name + " " + userData.Last_Name %></h1>
          <% if(isOwnerPage) {%>
            <form action="/profile/status" method="POST" name="statusForm">
              <input class="info__status info__status--disable" id="infoStatus" type="text" name="status" placeholder="Status" value="<%- userData.Status %>">
            </form>
          <% } else { %>
            <span><%- userData.Status %></span>
          <% } %>
          <hr class="underline" size="2" width="100%" color="#cee6ff">
          <p class="birthday">Birthday: <%- userData.Birth_Date %></p>
        </div>
      </div>
      <div class="posts">
        <% if(isOwnerPage) {%>
        <div class="posts__input">
            <form action="/user/post" method="POST" class="post__form">
              <textarea name="postArea" id="postArea" cols="15" rows="2" placeholder="What your followers should to know?"></textarea>
              <button type="submit">Post</button>
            </form>
          <% } %>
          <div class="posts__field">
            <% if(isOwnerPage) {%>
              <h4>Your posts</h4>
            <% } else {%>
              <h4>User posts</h4> 
            <% } %>
            <% if(posts.length !== 0) {%>
              <% posts.map(post => { %>
                <div class="post" id="post<%- post.ID%>">
                  <div class="post__content">
                    <div class="post__header header">
                      <div class="header__main">
                        <h5 class="post__owner full__name"><%- post.First_Name + " " + post.Last_Name %></h5>
                        <div class="post__createDate"><%- post.Create_Date %></div>
                      </div>
                      <% if(isOwnerPage) {%>
                        <div class="header__control">
                          <svg class="postDelete__btn" id="" width='35px' height='35px' viewBox="-500 0 1500 1500" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 281.296l0 -68.355q1.953 -37.107 29.295 -62.496t64.449 -25.389l93.744 0l0 -31.248q0 -39.06 27.342 -66.402t66.402 -27.342l312.48 0q39.06 0 66.402 27.342t27.342 66.402l0 31.248l93.744 0q37.107 0 64.449 25.389t29.295 62.496l0 68.355q0 25.389 -18.553 43.943t-43.943 18.553l0 531.216q0 52.731 -36.13 88.862t-88.862 36.13l-499.968 0q-52.731 0 -88.862 -36.13t-36.13 -88.862l0 -531.216q-25.389 0 -43.943 -18.553t-18.553 -43.943zm62.496 0l749.952 0l0 -62.496q0 -13.671 -8.789 -22.46t-22.46 -8.789l-687.456 0q-13.671 0 -22.46 8.789t-8.789 22.46l0 62.496zm62.496 593.712q0 25.389 18.553 43.943t43.943 18.553l499.968 0q25.389 0 43.943 -18.553t18.553 -43.943l0 -531.216l-624.96 0l0 531.216zm62.496 -31.248l0 -406.224q0 -13.671 8.789 -22.46t22.46 -8.789l62.496 0q13.671 0 22.46 8.789t8.789 22.46l0 406.224q0 13.671 -8.789 22.46t-22.46 8.789l-62.496 0q-13.671 0 -22.46 -8.789t-8.789 -22.46zm31.248 0l62.496 0l0 -406.224l-62.496 0l0 406.224zm31.248 -718.704l374.976 0l0 -31.248q0 -13.671 -8.789 -22.46t-22.46 -8.789l-312.48 0q-13.671 0 -22.46 8.789t-8.789 22.46l0 31.248zm124.992 718.704l0 -406.224q0 -13.671 8.789 -22.46t22.46 -8.789l62.496 0q13.671 0 22.46 8.789t8.789 22.46l0 406.224q0 13.671 -8.789 22.46t-22.46 8.789l-62.496 0q-13.671 0 -22.46 -8.789t-8.789 -22.46zm31.248 0l62.496 0l0 -406.224l-62.496 0l0 406.224zm156.24 0l0 -406.224q0 -13.671 8.789 -22.46t22.46 -8.789l62.496 0q13.671 0 22.46 8.789t8.789 22.46l0 406.224q0 13.671 -8.789 22.46t-22.46 8.789l-62.496 0q-13.671 0 -22.46 -8.789t-8.789 -22.46zm31.248 0l62.496 0l0 -406.224l-62.496 0l0 406.224z"/>
                          </svg>
                        </div>
                      <% } %>
                    </div>
                    <div class="post__main">
                      <div class="post__text text__block">
                        <p class="post__text" id="<%- post.ID %>"><%- post.Text %></p>
                      </div>
                        <div class="post__controls">
                          <svg version="1.1" class="comments__showBtn" id="commentsControlBtn" x="0px" y="0px" viewBox="0 0 458 458" style="enable-background:new 0 0 458 458;" xml:space="preserve">
                              <path d="M428,41.534H30c-16.569,0-30,13.431-30,30v252c0,16.568,13.432,30,30,30h132.1l43.942,52.243
                                c5.7,6.777,14.103,10.69,22.959,10.69c8.856,0,17.258-3.912,22.959-10.69l43.942-52.243H428c16.568,0,30-13.432,30-30v-252
                                C458,54.965,444.568,41.534,428,41.534z M323.916,281.534H82.854c-8.284,0-15-6.716-15-15s6.716-15,15-15h241.062
                                c8.284,0,15,6.716,15,15S332.2,281.534,323.916,281.534z M67.854,198.755c0-8.284,6.716-15,15-15h185.103c8.284,0,15,6.716,15,15
                                s-6.716,15-15,15H82.854C74.57,213.755,67.854,207.039,67.854,198.755z M375.146,145.974H82.854c-8.284,0-15-6.716-15-15
                                s6.716-15,15-15h292.291c8.284,0,15,6.716,15,15C390.146,139.258,383.43,145.974,375.146,145.974z"/>
                          </svg>
                        </div>
                    </div>
                  </div>
                  <div class="comments__block">
                    <form action="/profile/comment" class="comment__form" id="commentForm<%- post.ID%>" method="post" name="commentForm">
                      <input type="text" name="comment">
                      <input type="text" name="postId" class="postId" value="<%- post.ID %>">
                      <input type="text" name="pageUserId" class="pageUserId">
                      <button type="submit" id="submitCommentBtn">Comment</button>
                    </form>
                    <div class="post__comments post__comments--disable"></div>
                  </div>
                </div>
              <% }) %>
            <%} else {%>
              <% if(isOwnerPage) {%>
                <p class="posts__plug">You haven't any post</p>
              <% } else {%>
                <p class="posts__plug">There's haven't posts</p>
              <% } %>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if(isOwnerPage) {%>
    <script src="../bin/profileHandlers.js"></script>
  <% } %>
  <script type="module" src="../bin/handlers.js"></script>
</body>
</html>